#staff-widget {
    padding: 1rem;
}

#staff-widget #warning-msg {
    display: none;
    visibility: hidden;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem !important;
}

.staff-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.staff-group .user-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--user-gap);
    max-width: calc(var(--user-card-width) * var(--user-columns) + (var(--user-gap) * (var(--user-columns) - 1)));
}
.staff-group h1 {
    width: 100%;
    text-align: center;
    margin-block: 3rem 1rem !important;
    
    animation: fade-in .75s;
}

.staff-card {
    display: flex;
    flex-direction: column;
    max-width: var(--user-card-width);
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    opacity: 0;
    animation: slide-in 1s forwards;
}
@keyframes slide-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.staff-card img {
    /* border-radius: 5px; */
    max-width: 100%;
    margin: 0;
    aspect-ratio: 1 / 1;
}
.staff-card p {
    margin: 0;
    text-align: center;
}
.staff-card #staff-info {
    background-color: var(--card-name-background);
    color: white;
    border-top: 1px solid white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    bottom: 0;
    width: 100%;
    height: max-content;
    transform: translateY(calc(100% - 30px));
    transition: transform 200ms ease;
}
.staff-card #staff-info #website-link {
    color: inherit;
}
.staff-card:focus-within #staff-info {
    transition: none;
}
.staff-card:focus-within #staff-info, .staff-card:hover #staff-info {
    transform: translateY(0);
    /* gap: .5rem; */
    padding: .5rem;
    padding-top: 0;
    box-sizing: border-box;
}
#staff-info p#title {
    margin-bottom: .5rem;
}
#staff-info::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: inherit;
    position: absolute; 
    top: 0;
    left: 50%;
    transform-origin: top left;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(-45deg) translate(-40%, -50%);
}
.staff-card p#name {
    height: 30px;
    display: grid;
    place-items: center;
    font-weight: bold !important;
    padding: 0;
}

/* button styling */
#info-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
    margin-top: .5rem;
    font-size: 1rem;
}
.btn {
	background-color: var(--btn-bg-color);
	color: var(--btn-color) !important;
	border-radius: 4px;
    border: none !important;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	padding: 4px 6px;
	text-align: center;
    text-decoration: none !important;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
    margin: 0 auto;
    text-decoration: none;
}
.btn:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.btn:disabled {
    opacity: .6;
}
.btn:disabled:hover {
    transform: none;
}
/* FILTER STYLING */
.filter-container {
    width: 100%;
    max-width: 768px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.15rem;
}
.filter-container .input {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 100%;
    position: relative;
}
.filter-container .input select, .filter-container .input input {
    margin: 0 !important;
    font-size: inherit;
    width: 100% !important;
    border: 1px solid #ccc;
    padding: .25rem;
    border-radius: 4px;
    box-sizing: border-box;
}
.input.search input {
    padding-left: 25px !important;
}
.input.search i {
    position: absolute;
    height: 100%;
    width: 30px;
    top: 0;
    display: grid;
    place-items: center;
}
